/* Global
================================================= */
html {
    font-size: 16px;
}

/* Typography
================================================= */
h1, h2, h3, p, li {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HTML Components
================================================= */
button {
    border: 2px solid white;
    background-color: white;
    color: green;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem black;
    margin: 1rem;
    border-radius: 0.5rem;
    width: 5rem;
    height: 2rem;
}
button:hover {
    border: 2px solid green;
    background-color: green;
    color: white;
}
button:active {
    background-color: darkgreen;
    box-shadow: 0.25rem 0.25rem black;
}

.btnPrimary {
    background-color: hsla(90, 50%, 20%, 1);
    border: 2px solid hsla(90, 20%, 20%, 1);
    color: white;
}
.btnPrimary:hover {
    background-color: hsla(90, 90%, 20%, 0.75)
}
.btnPrimary:active {
    background-color: hsla(90, 90%, 20%, 0.5);
}

/* React Components
================================================= */

/* Page Structure
================================================= */
.container {
    display: flex;
}

.headerGrid {
    display: grid;
    grid-template-columns: repeat(12, auto);
}

.block {
    border: 2px solid red;
}

.headText {
    grid-column: 1 / span 3;
}

.headNav {
    grid-column: 11 / span 1;
}

#main-heading {
    justify-content: center;
    align-items: center;
    border: 5px solid red;
}

/* Page Aethetics
================================================= */
header {
    background-color: hsla(90, 20%, 80%, 1);
    padding: 0 2rem;
}

footer {
    background-color: hsla(90, 20%, 80%, 1);
    padding: 2rem;
}

main {
    background-color: hsla(90, 20%, 90%, 1);
    padding: 2rem;
}